@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23af3535' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: black;
  font-family: 'Ibarra Real Nova', serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.1);
}

.quote-text {
  font-size: 2.75rem;
  font-weight: 500;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

#author {
  font-weight: 400;
  font-size: 2rem;
  font-style: italic;
  margin-top: 20px;
}

/* Media Query: Tablet or Smaller */

@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }
  .quote-text {
    font-size: 2rem;
  }
  #author {
    font-size: 1.5rem;
  }
}
